* {
  margin: 0;
  padding: 0;
}

.header__section {
  background-image: url(../images/header_image.png);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5474fd;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 75px;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navigation__list li {
  margin-left: 40px;
  color: white;
  font-style: normal;
  font-size: 17px;
}

.navigation__list li:hover {
  font-weight: 700;
  color: black;
  transform: scale(1.4);
  transition: transform 0.6s ease;
}

.navigation__logo {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 900;
  font-style: bold;
}

.header__name {
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  padding: none;
  margin: 0;
}

.header__text {
  font-weight: 10;
  letter-spacing: 7px;
}

.search_input {
  margin-top: 40px;
  display: flex;
  width: 500px;
  background-color: white;
  height: 50px;
}

.input_info {
  width: 75%;
  background-color: transparent;
  border: none;
  text-align: center;
}

.search_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 48px;
  align-self: center;
  background-color: #5474fd;
  border: none;
  color: white;
  font-size: 10px;
}

.search_btn:hover {
  background-color: black;
  transition: 0.5s;
  transform: scale(1.2);
  border-radius: 20px;
}
i {
  margin-left: 10px;
}

.navigation__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navigation__button:hover {
  transform: scale(1.5);
  transition: transform 0.6s ease;
}

@media screen and (max-width: 700px) {
  .navigation__logo {
    display: none;
  }

  .search_input {
    width: 300px;
  }

  .list__item {
    display: none;
    color: black;
  }

  .header__navigation {
    justify-content: center;
    position: absolute;
    bottom: 0;
  }

  .navigation__button {
    display: block;
    font-size: 30px;
  }
}

.why__choose-us {
  background-image: url("../images/about__image.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}

.info__about-us {
  width: 600px;
}
.info__texts {
  color: white;
  font-size: 34px;
  /* max-width: 400px; */
}

.info__paragraphs {
  color: white;
  font-size: 16px;
  margin-top: 30px;
}

.why__choose-us-images {
  margin-left: 120px;
}

.second__image {
  margin-left: 100px;
}

.info__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border: none;
  background-color: #5474fd;
  margin-top: 40px;
  color: white;
}

.info__btn:hover {
  transform: scale(1.2);
  background-color: black;
  transition: transform 0.5s ease;
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .second__image {
    margin: 0;
  }

  .why__choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .why__choose-us-images {
    margin-left: 40px;
  }

  .first__image,
  .second__image {
    width: 200px;
  }

  .info__texts {
    font-size: 25px;
  }

  .info__paragraphs {
    font-size: small;
  }

  .info__btn {
    width: 150px;
    height: 50px;
    font-size: 15px;
  }
}

.recomandation__section {
  background-color: #333;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recomandation__icons,
.recomandation__names {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 600px;
  margin-top: 10px;
}

.search__icon,
.like__icon {
  color: #5474fd;
  font-size: 30px;
}

.check__icon {
  color: #ff6363;
  font-size: 30px;
}

.recomandation__names{
    width: 700px;
    margin-top: 15px;
}
.icon__text{
    font-size: 25px;
    font-weight: 100;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shape{
    height: 70px;
    
}